html,
body {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f4eff7;
}

.header__container {
  max-width: 1230px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*HEADER*/
.header {
  background: #889bd3;
  height: 80px;
  width: 100%;
}

.header__logo {
  padding-bottom: px;
}

.header__logo-img {
  width: 300px;
  padding: 0 0 10px 0;
}

/*search*/
.header__search-box {
  border: none;
  opacity: 0.5;
  width: 450px;
  padding: 0 0 0 15px;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 9px;
  text-decoration: none;
  overflow: hidden;
  background-color: #6a79a9;
}

input {
  color: white;
}

.header__search-btn {
  background: none;
  text-decoration: none;
}

.header__search-txt {
  padding-top: 5px;
  text-decoration: none;
  outline: none;
  height: 35px;
  background: transparent;
  border: none;
  width: 398px;
  color: white;
}

.header__search-img {
  background: none;
  width: 20px;
}

::placeholder {
  color: white;
}

/*navigation profile/basket*/
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-box {
  padding: 0 30px 0 0;
}

.header__nav-img--profile {
  height: 30px;
  padding: 0 0 5px 32px;
}

.header__nav-img--basket {
  height: 30px;
  padding: 0 0 5px 25px;
}

.header__nav-txt {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
/*END HEADER*/

/*BODY*/
.body__container {
  max-width: 1350px;
  padding: 50px 70px 70px 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/*BLUE SECTION*/
.blue__section {
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue__section-txt {
  position: absolute;
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue__section-txt1 {
  font-weight: 600;
  font-size: 60px;
  color: white;
  text-shadow: 0px 4px 11.600000381469727px #223364;
  padding: 0 0 100px 0;
  margin: 10px;
}

.blue__section-box {
  display: flex;
}

.blue__section-txt2 {
  padding: 0 0 0 10px;
  font-weight: 400;
  font-size: 30px;
  color: white;
  text-shadow: 0px 3px 4px #1b2d63;
  margin: 0 10px 0 0;
}

.blue__section-arrow {
  padding: 8px 0 0 0;
  width: 44px;
}

.blue__section-img {
  width: 100%;
}

/*END BLUE SECTION*/
/* 
.sales__section {
  width: 1350px;
  padding: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sales__text-50per {
  padding: 0 0 50px 0;
  font-weight: 600;
  font-size: 35px;
}

.sales__cards {
  display: flex;
  justify-content: space-between;
}

.sales__order-card {
  border-radius: 29px;
  height: 500px;
  width: 340px;
  box-shadow: 0 0 5px 3px rgb(212, 209, 209);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fff;
}

.sales__order-card:hover {
  box-shadow: 0 0 25px 4px #889bd3;
  transition: 0.4s;
}

.sales__local-sale {
  margin: 15px 0 0 20px;
  background-color: #ec6565;
  width: 55px;
  height: 30px;
  border-radius: 25px;
}

.sales__local-sale--txt {
  color: #ffffff;
  font-size: 16px;
  padding: 7px 0 0 8px;
}

.sales__order-card--img {
  padding: 0 36px 0 36px;
  margin: 0 0 30px 0;
}

.sales__card-name {
  padding: 0 20px 0 25px;
  font-size: 19px;
}

.sales__card-price {
  display: flex;
  padding: 20px 0 20px 25px;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  color: #e21212;
}

.sales__card-last--price {
  padding: 0 50px 0 0;
}

.sales__card-basket {
  height: 35px;
  padding: 0 25px 0 0;
} */

/*CATEGORY*/

.category__section {
  width: 1210px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.category__txt {
  padding: 50px 0 20px 0;
  font-weight: 600;
  font-size: 35px;
}

.category__cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 0 0 0;
}

.category__card {
  border-radius: 27px;
}

.category__card:hover {
  box-shadow: 0 0 25px 4px #889bd3;
  transition: 0.4s;
}

.category__card-img {
  max-width: 590px;
}

.category__card-txt {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  padding: 50px 0 0 40px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px #5c6b99;
}

/*FOOTER*/

.footer {
  height: 500px;
  background-color: #889bd3;
}

.footer__container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
}

.footer__section-txt {
  display: flex;
  justify-content: space-between;
  color: #fff;
  line-height: 2.5;
  padding: 0 0 40px 0;
  font-size: 15px;
}

.footer__bold-txt {
  font-weight: 600;
}

.footer__line-decor {
  height: 1px;
  opacity: 0.5;
}

.footer__brand-logo {
  padding: 45px 0 40px 0;
  color: #fff;
  font-weight: 800;
  font-size: 90px;
}

.footer__c {
  color: #fff;
  opacity: 0.5;
}

.footer__logo-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__pay-cards {
  width: 250px;
  padding: 70px 0 0 0;
}

.profile__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1300px;
}

.profile__inner-main--txt {
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 40px 115px;
}

.profile__inner-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 50px 0 50px;
}

.profile__inner-input--name {
  background-color: #fff;
  color: #434e74;
  box-shadow: 0 0 5px #5c6b99;
  height: 50px;
  width: 500px;
  border-radius: 25px;
  margin: 20px;
  padding: 0 20px 0 20px;
  font-size: 16px;
}

.profile__inner-input--forms {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.profile__inner-input--photo {
  height: 300px;
  padding: 20px 0 0 0;
  margin: 0 0 40px 50px;
  opacity: 0.5;
}

.profile__inner-input--btn {
  background-color: #889bd3;
  border-radius: 25px;
  height: 50px;
  width: 130px;
  font-weight: 600;
}

.profile__inner-input--btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.profile__inner-input--adress {
  background-color: #889bd3;
  height: 50px;
  width: 895px;
  border-radius: 25px;
  margin: 20px 20px 20px 50px;
  padding: 0 20px 0 20px;
  background-color: #fff;
  color: #434e74;
  box-shadow: 0 0 5px #5c6b99;
  font-size: 16px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 0 0 20px;
  font-weight: 600;
}

.profile__adress-txt {
  margin: 0 0 0 50px;
}

.profile__inner-orders-btn {
  margin: 20px 0 0 0;
  background-color: #889bd3;
  height: 60px;
  width: 200px;
  border-radius: 25px;
}

.btn__order {
  padding: 15px 0 0 40px;
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.profile__inner-orders-btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.one__of__categories {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.one__of__categories-txt {
  font-weight: 600;
  font-size: 35px;
}

.one__of__categories-cards {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.one__of__categories-card {
  border-radius: 29px;
  height: 500px;
  width: 340px;
  box-shadow: 0 0 5px 3px rgb(212, 209, 209);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fff;
}

.one__of__categories-card:hover {
  box-shadow: 0 0 25px 4px #889bd3;
  transition: 0.4s;
}

.one__of__categories-img {
  padding: 0 36px 0 36px;
  margin: 0 0 30px 0;
}

.one__of__categories-name {
  padding: 0 20px 0 25px;
  font-size: 19px;
}

.one__of__categories-price {
  display: flex;
  padding: 20px 0 20px 25px;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  color: #e21212;
}

.sales__card-basket {
  height: 35px;
  padding: 0 25px 0 0;
}

/*--------------------------------------------------*/

.basket {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.basket__btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.basket__main-txt {
  font-weight: 600;
  font-size: 35px;
}

.basket__cards {
  margin: 25px 0 20px;
}

.basket__order-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 1050px;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
}
.basket__order-card--img {
  padding: 20px;
}
.basket__card-name {
  font-size: 30px;
  padding: 50px 0 20px 30px;
}
.basket__card-price {
  padding: 20px 0 0 30px;
  font-size: 40px;
  font-weight: 600;
}

.basket__card-shop--img {
  width: 30px;
}

.basket__card-shop--txt {
  margin: 7px 0 0 20px;
  font-weight: 600;
}

.basket__card-shop {
  padding: 40px 0 0 30px;
  display: flex;
  flex-direction: row;
}

.basket__top-menu--btn {
  background: #889bd3;
  width: 200px;
  height: 60px;
  font-weight: 600;
  font-size: 23px;
  border-radius: 20px;
  color: #fff;
  margin: 0 61px 0 0;
}

.basket__top-menu--btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.basket__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__bottom-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.basket__bottom-result {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.basket__bottom-result--txt {
  font-size: 50px;
  font-weight: 600;
}

.basket__bottom-result--sum {
  font-size: 50px;
  font-weight: 600;
  margin: 0 60px 0 0;
}

.basket__bottom-ordering {
  margin: 50px 0 0 970px;
  background: #889bd3;
  width: 170px;
  border-radius: 20px;
  height: 65px;
}

.basket__bottom-ordering--txt {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 15px;
}

.basket__bottom-ordering:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

/*-----------------------------------------------------*/

.order__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;
}
.order__card-main--txt {
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 50px 0;
}
.order__card-sections {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.order__card-sections--1 {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 600px;
  height: 600px;
}

.order__card-sections--1img {
  width: 600px;
  height: 600px;
  padding: 30px;
}

.order__card-sections--2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 0 60px;
}

.order__card-price--btn {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 520px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__card-section--price {
  font-weight: 600;
  font-size: 50px;
  text-shadow: 0 0 4px #889bd3;
  margin: 30px;
}
.order__card-section--btn {
  background: #889bd3;
  width: 450px;
  height: 60px;
  font-weight: 600;
  font-size: 23px;
  border-radius: 20px;
  color: #fff;
}

.order__card-section--btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}
.order__card-section--txt {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 520px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
}
.order__card-section--main {
  margin: 0 0 25px 0;
  font-weight: 600;
  font-size: 30px;
}

.order__card-section--store {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 520px;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 30px;
}
.order__card-section--img {
  width: 30px;
}
.order__card-section--name {
  margin: 0 0 0 10px;
}

/*--------------------------------------------------*/

.seller__body-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.seller__body-btn {
  background: #889bd3;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller__body-btn--txt {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.seller__body-btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

/*--------------------------------------------------*/

.seller__products-top--menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.seller__top-menu--btn {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.seller__top-menu--btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.seller__products-main--txt {
  font-weight: 600;
  font-size: 35px;
}

.seller__products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seller__products-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 1050px;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  margin: 50px 0 50px 0;
}
.seller__products-card--img {
  padding: 20px;
}
.seller__card-name {
  font-size: 25px;
  padding: 40px 0 20px 30px;
}
.seller__card-storage--txt {
  margin: 250px 0 0 30px;
  font-size: 20px;
}

.seller__card-quantity {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin: 150px 0 0 0;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.seller__card-quantity--num {
  margin: 20px;
  font-size: 40px;
}

/**/

.seller__inner-input--name {
  background-color: #fff;
  color: #424243;
  box-shadow: 0 0 5px #7e8080;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  margin: 20px;
  padding: 0 20px 0 20px;
}

.storage__save__btn {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.storage__save__btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.seller__form {
  margin: 20px;
}

.shop_quantity {
  display: flex;
  justify-content: space-between;
}

.seller__card-section--store {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
}

.seller__card-section--quantity {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
}

.seller__form-adr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seller__inner-input--adr {
  background-color: #fff;
  color: #424243;
  box-shadow: 0 0 5px #7e8080;
  height: 35px;
  width: 220px;
  border-radius: 25px;
  margin: 10px 0 0 40px;
  padding: 0 20px 0 20px;
}

.seller__inner-input--name-adr {
  font-size: 18px;
  margin: 0 0 0 40px;
}

.seller__form-q {
  display: flex;
  flex-direction: column;
}

.seller__inner-input--q {
  background-color: #fff;
  color: #424243;
  box-shadow: 0 0 5px #7e8080;
  height: 35px;
  width: 105px;
  border-radius: 25px;
  margin: 10px 0 0 25px;
  padding: 0 20px 0 20px;
}

.seller__inner-input--name-q {
  font-size: 18px;
  margin: 0 0 0 20px;
}

.input_img {
  margin: 30px;
}

.seller__save {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.seller__save:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.seller__order__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;
}

.seller__profile__form {
  display: flex;
  flex-direction: row;
}

.profile__inner-input--knopka {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__txt {
  color: #7e8080;
}

.seller__profile_one {
  display: flex;
  flex-direction: column;
}

.seller__profile_two {
  display: flex;
  flex-direction: column;
}

.seller__select {
  margin: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: #fff;
  color: #424243;
  box-shadow: 0 0 5px #7e8080;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  padding: 0 20px 0 20px;
  font: 0.7em Montserrat;
}

.storage__products-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  width: 1050px;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  margin: 50px 0 50px 0;
}

.storage__card-name {
  font-weight: 600;
}

.storage__save {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  /* margin: 0 0 0 20px; */
}

.storage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
}

.storage__inner-input {
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 0 -10px;
}

.storage__inner-input--name {
  background-color: #fff;
  color: #424243;
  box-shadow: 0 0 5px #7e8080;
  height: 50px;
  width: 600px;
  border-radius: 25px;
  margin: 40px;
  padding: 0 20px 0 20px;
  font-size: 23px;
}

.seller__card-date {
  font-size: 25px;
  padding: 10px 0 0 30px;
  font-weight: 600;
}

.seller__card-date1 {
  margin: 10px 0 0 0;
  font-weight: 600;
}

.seller__card-delivery--txt {
  margin: 180px 0 0 30px;
  font-size: 20px;
}

.storage__btn {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 40px 0 0 0;
}

.storage__save__btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.order__card-name {
  margin: 90px 0 0 0;
  font-size: 25px;
  padding: 10px 0 0 30px;
  font-weight: 600;
}

.sign__btn {
  background: #889bd3;
  width: 270px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 40px 0 0 138px;
}

.sign__btn:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px #5c6b99;
}

.signin__products-main--txt {
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 40px 0;
}

.sign__checkbox {
  display: flex;
  align-items: center;
  margin: 0 0 0 25px;
}

.cart__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 0 0 20px 70px;
}

.cart__inner-input {
  background-color: #fff;
  color: #434e74;
  box-shadow: 0 0 5px #5c6b99;
  height: 50px;
  width: 130px;
  border-radius: 25px;
  margin: 20px 20px 20px 40px;
  padding: 0 20px 0 20px;
  font-size: 16px;
  align-items: center;
}

.raz {
  all: unset;
  width: 3em;
  text-align: center;
}

.raz::-webkit-inner-spin-button {
  display: none;
}

.cart_btns {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 40px;
}

.btn_q {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.btn_q:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px #9ba8d0;
}

.basket__card-shop--quantity {
  margin: 80px 0 0 30px;
  font-weight: 600;
  font-size: 24px;
}

.all__orders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 1050px;
  height: 70px;
  border-radius: 25px;
  box-shadow: 0 0 7px 0 #acacac;
  margin: 50px 0 50px 0;
}

.order__name {
  margin: 0 0 0 20px;
}

.order__status{
  margin: 0 20px 0 20px;
}
